#header {
  display: flex;
  align-items: center;
  border: none;
}

header {
  position: absolute;
  width: calc(100% - 4rem);
  left: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left-header {
  grid-area: alias-lh;
  display: flex;
  align-items: center;
}

#right-header {
  grid-area: alias-rh;
  position: relative;
}

#auth-nav {
  grid-area: alias-rh;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#profile-image {
  height: 45px;
  width: 45px;
  border-radius: 25%;
  border: none;
}

#profile-image:hover {
  cursor: pointer;
}

#profile-menu {
  background-color: #151a26;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 55px;
  right: 0;
  z-index: 10;
  padding: 0.5rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

hr {
  margin: 0.5rem 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#register p {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-500);
}

#register:hover {
  opacity: 0.8;
}

#menu {
  position: absolute;
  left: 1rem;
  align-items: center;
}

#menu:hover {
  padding: 1px;
  cursor: pointer;
  opacity: 0.95;
  /* background-color: #080808; */
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  header {
    left: 1rem;
    width: calc(100% - 2rem);
  }
}
