#register-page {
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-page #modal {
  background-color: var(--color-main);
  padding: 0.5rem;
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
}

#register-page #left-modal {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-page #modal #title {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

#register-form {
  display: flex;
  flex-direction: column;
  justify-self: start;
  gap: 1rem;
}

#register-form > div {
  display: flex;
  flex-direction: column;
}

#register-form .name input {
  width: 30%;
}

#register-form #first-name,
#register-form #last-name {
  display: flex;
  flex-direction: column;
}

#register-form div p {
  font-weight: 600;
  margin-bottom: 8px;
}

#register-form div > input {
  font-size: 1rem;
  padding-left: 0.5rem;
}

#register-form div > input,
#register-form button[type='submit'] {
  border-radius: 6px;
  height: 40px;
}

#register-form div > input,
#register-form button[type='submit'] {
  width: 90%;
}

#register-form button[type='submit'] {
  background-color: var(--color-submit-btn);
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.9;
  border: none;
}

#register-form button[type='submit']:hover {
  opacity: 1;
}

#register-form input {
  background-color: transparent;
}

#register-page div p {
  font-weight: 600;
  margin-bottom: 8px;
}

#register-page #right-modal {
  height: 100%;
  width: 50%;
}

#register-page #right-modal img {
  height: 100%;
  width: 100%;
}

#register-form #already-have-account {
  align-items: center;
}

#register-form #already-have-account a {
  color: var(--color-link);
}

.password-strength#low {
  color: #ebba09;
}

.password-strength#medium {
  color: #0e21eb;
}

.password-strength#strong {
  color: #20e859;
}

@media (min-width: 768px) {
  #register-form .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
